<h2>Add new location</h2>

<form action="/locations/new" method="post">
  <p>Country <input type="text" name="country"></p>
  <p>Description <input type="text" name="description"></p>
  <p><input type="submit" value="Add"></p>
</form>

<p><a href="/locations">Back to locations</a><p>