<p>Country: <%= @location["country"] %></p>
<p>Description: <%= @location["description"] %></p>

<a href="/locations/<%= @location["id"] %>/delete">Delete location</a>

<p><a href="/locations">Back to locations</a><p>


