%h3 Are you sure you want to delete #{@project.name}?
%form(action="/projects/#{@project.id}" method="post")
%input(type="hidden" name="_method" value="DELETE")
%input(type="submit" value="Delete") or <a href="/projects">Cancel</a>