<ul id="todo-list" class="unstyled">
  <% @projects.each do |project| %>
      <li id="<%= project[:id] %>">
      <span class="item">
      <%= project[:content] %>
      </span>
      <span class="pull-right">
      <a href="/delete/<%= project[:id] %>" class="btn btn-danger">Delete</a>
      </span>
      </li>
  <% end %>
</ul>
<a href="/new" class="btn btn-primary">Add</a>

