<p>Country: <%= @location.name %></p>
<p>Description: <%= @location.body %></p>

<a href="/locations/<%= @location.id %>/delete">Delete location</a>

<p><a href="/locations">Back to locations</a><p>


