<h3>Add customer</h3>
<form method="post" action="/customers/new">
  <label for="name"><strong>Customer name:</strong></label><br>
  <input id="name" type="text" name="name" value="" style="width: 250px;">
  <br>
  <label for="adress"><strong>Customer adress:</strong></label><br>
  <input id="adress" type="text" name="adress" value="" style="width: 250px;">
  <br>
  <label for="e_mail"><strong>Customer e-mail:</strong></label><br>
  <input id="e_mail" type="text" name="e_mail" value="" style="width: 250px;">
  <br>
  <label for="phone_number"><strong>Customer phone number:</strong></label><br>
  <input id="phone_number" type="text" name="phone_number" value="" style="width: 250px;">
  <br>
  <input type="submit" name="submit" value="Add">
</form>