<h3>Enter your personal data:</h3>
<form method="post" action="/users/new">
  <label for="name"><strong>Name:</strong></label><br>
  <input id="name" type="text" name="name" value="" style="width: 250px;">
  <br>
  <label for="email"><strong>E-mail:</strong></label><br>
  <input id="email" type="text" name="email" value="" style="width: 250px;">
  <br>
  <label for="passwd"><strong>Password:</strong></label><br>
  <textarea id="passwd" name="passwd" style="widht: 250px;"></textarea>
  <br>
  <input type="submit" name="submit" value="Create">
</form>
