<% provide(:title, "Creating new user") %>

<div class="post">
  <div class="posttop"></div>
  <div class="postitem">
    <h2>New user
      <span class="postinfo">Creating new account</span>
    </h2>
    <div class="form">
      <%= render 'form' %>
    </div>
  </div>
  <div class="postbottom">  
    <%= link_to 'Back', users_path %>
  </div>
</div>

