<h3>Hello, <%=:name>.</h3>
<br>
<p>You can delete own profile</p>
<form method="delete" action="/users/:id/delete">
  <input type="submit" name="delete" value="Delete">
</form>
<br>
<strong><a href="/users/new">Sign up</a></strong>